In [1]:
#ColumnTransformer
#This is a container in which we can store our steps of process
#ColumnTransformer(transformers=[["constant",
#                                 "approach/rule","columns name"
#                                ]])

In [3]:
#Task:
#covid_datasets----> divide training and testing sets
#x_train data--->1-1 column preprocess --->all column shape total
#column transformer--> same shape

In [5]:
import numpy as np
import pandas as pd

In [9]:
df=pd.read_csv("covid_toy.csv")
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [11]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [13]:
x=df.drop(columns=["has_covid"])
y=df["has_covid"]

In [15]:
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [19]:
x_train.head(2)

    age  gender  fever cough     city
55   81  Female  101.0  Mild   Mumbai
88    5  Female  100.0  Mild  Kolkata

In [21]:
#Manually Process:

In [25]:
#adding simple imputer to fever column
si=SimpleImputer(strategy="mean")
x_train_fever=si.fit_transform(x_train[["fever"]])
x_train_fever.shape

(80, 1)

In [29]:
#OrdinalEncoding---cough
oe=OrdinalEncoder(categories=[["Mild","Strong"]])
x_train_cough=oe.fit_transform(x_train[["cough"]])
x_train_cough.shape

(80, 1)

In [31]:
#one hot encoding
ohe=OneHotEncoder(drop="first",sparse_output=False)
x_train_gender_city=ohe.fit_transform(x_train[["gender","city"]])
x_train_gender_city.shape

(80, 4)

In [35]:
#Extracting Age
x_train_age=x_train.drop(columns=["gender","fever","cough","city"]).values
x_train_age.shape

(80, 1)

In [37]:
x_train_transformed=np.concatenate((x_train_age,x_train_fever,x_train_gender_city,x_train_cough),axis=1)

In [39]:
x_train_transformed.shape

(80, 7)

In [53]:
from sklearn.compose import ColumnTransformer


transformer = ColumnTransformer(
    transformers=[
        ("tnf1", SimpleImputer(), ["fever"]),
        ("tnf2", OrdinalEncoder(categories=[["Mild", "Strong"]]), ["cough"]),
        ("tnf3", OneHotEncoder(sparse_output=False, drop="first"), ["gender", "city"])
    ],
    remainder="passthrough"
)

In [55]:
a=transformer.fit_transform(x_train)

In [57]:
a.shape

(80, 7)