In [152]:
import numpy as np
import pandas as pd

In [156]:
df=pd.read_csv("insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [158]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [160]:
x=df.drop(columns=["charges"])
y=df["charges"]

In [162]:
from sklearn.model_selection import train_test_split

In [164]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [166]:
x_train.head(2)

      age     sex    bmi  children smoker     region
560    46  female  19.95         2     no  northwest
1285   47  female  24.32         0     no  northeast

In [168]:
#Manual process:

In [170]:
#OrdinalEncoding
oe=OrdinalEncoder(categories=[["male","female"]])
x_train_sex=oe.fit_transform(x_train[["sex"]])
x_train_sex.shape

(1070, 1)

In [172]:
#one hot encoding
ohe=OneHotEncoder(drop="first",sparse_output=False)
x_train_smoker_region=ohe.fit_transform(x_train[["smoker","region"]])
x_train_smoker_region.shape

(1070, 4)

In [174]:
#Extracting Age
x_train_num=x_train.drop(columns=["sex","smoker","region"]).values

x_train_num.shape

(1070, 3)

In [182]:
x_train_transformed=np.concatenate((x_train_num,x_train_smoker_region,x_train_sex),axis=1)

In [184]:
x_train_transformed.shape

(1070, 8)

In [131]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder

transformer = ColumnTransformer(
    transformers=[
        ("tnf1", OrdinalEncoder(categories=[["male", "female"]]), ["sex"]),
        ("tnf3", OneHotEncoder(sparse_output=False, drop="first"), ["smoker", "region"])
    ],
    remainder="passthrough"  # keeps age, bmi, children unchanged
)

In [139]:
a=transformer.fit_transform(x_train)

In [141]:
a.shape

(1070, 8)