In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("tips.csv")

In [19]:
df.head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [21]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split

In [23]:
X = df.drop(columns = ['total_bill'])
y = df ["total_bill"]
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2,random_state=42)

In [25]:
categorical_features = ['sex','smoker','day','time']
numeric_features = ['tip','size']

In [27]:
numeric_transformer = Pipeline (steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
    ])

categorical_transformer=Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot',OneHotEncoder(handle_unknown='ignore'))
    ])

In [29]:
preprocessor = ColumnTransformer(
transformers=[
('numeric', numeric_transformer, numeric_features),
('categoric', categorical_transformer, categorical_features)
])

In [31]:
preprocessor.fit_transform(X_train)

array([[-0.2580329 , -0.61214068,  0.        , ...,  0.        ,
         1.        ,  0.        ],
       [-0.74211442, -0.61214068,  0.        , ...,  0.        ,
         1.        ,  0.        ],
       [ 0.6399734 , -0.61214068,  0.        , ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [-1.46472887, -0.61214068,  1.        , ...,  0.        ,
         1.        ,  0.        ],
       [ 0.32426806, -0.61214068,  0.        , ...,  0.        ,
         1.        ,  0.        ],
       [-0.41237773,  0.45363997,  1.        , ...,  0.        ,
         1.        ,  0.        ]])

In [ ]:
#To do.....
#What do you mean by normal distribution?
#What is difference between discrete data and continuos data?
#What is difference between sample and population?
#What do you mean by probability?
#What is Central Tendency? #Mean, #Median, #Mode
#What is difference between percentage and percentile?

#data gather..data clean..preprocessing..